section.about
	.container
		+blockBox('What we do', 'Story about us', 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos eligendi, alias dicta itaque totam et, doloremque quaerat dolorum esse quam omnis magni excepturi deserunt veritatis distinctio pariatur culpa earum. Fugiat?')
		.about-list
			.about-item
				img.about-image(src="../images/img-about1.png")
				.about-content
					i.fa.fa-users.about-icon
					span.about-title Super team
			.about-item
				img.about-image(src="../images/img-about2.png")
				.about-content
					i.fa.fa-users.about-icon
					span.about-title Super team
			.about-item
				img.about-image(src="../images/img-about3.png")
				.about-content
					i.fa.fa-users.about-icon
					span.about-title Super team