section.blog
	.container
		+blockBox('Our stories', 'lastest blog')
		ul.blog-list
			li.blog-item
				.blog-media
					a.blog-link(href='#')
						img.blog-image(src='../images/img-blog1.png')
					.blog-date
						span.blog-date-number 15
						span.blog-date-text.text--style.text--light Jan
				.blog-content
					h3.blog-title 
						a(href="#") Lorem ipsum dolor sit
					p.blog-description.text--style Blanditiis deserunt facilis ipsum deleniti aspernatur nesciunt debitis?
					.blog-meta
						.blog-meta-item
							i.fa.fa-eye.blog-meta-icon
							span.blog-meta-number.text--style.text--light 542
						.blog-meta-item
							i.fa.fa-comment-dots.blog-meta-icon
							span.blog-meta-number.text--style.text--light 17
			li.blog-item
				.blog-media
					a.blog-link(href='#')
						img.blog-image(src='https://images.unsplash.com/photo-1661636752677-3a8bf00f0f5a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxM3x8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60')
					.blog-date
						span.blog-date-number 14
						span.blog-date-text.text--style.text--light Jan
				.blog-content
					h3.blog-title
						a(href="#") amet consectetur, adipisicing elit
					p.blog-description.text--style Lorem ipsum dolor sit amet consectetur adipisicing elit.
					.blog-meta
						.blog-meta-item
							i.fa.fa-eye.blog-meta-icon
							span.blog-meta-number.text--style.text--light 992
						.blog-meta-item
							i.fa.fa-comment-dots.blog-meta-icon
							span.blog-meta-number.text--style.text--light 42
			li.blog-item
				.blog-media
					a.blog-link(href='#')
						img.blog-image(src='https://images.unsplash.com/photo-1578470507807-3fc541d5f544?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8c2thdGVyJTIwZ2lybHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60')
					.blog-date
						span.blog-date-number 15
						span.blog-date-text.text--style.text--light Jan
				.blog-content
					h3.blog-title
						a(href="#") Officiis fugit, dolore eaque ullam aperiam culpa eos dignissimos veritatis
					p.blog-description.text--style Voluptatibus, deserunt ea ducimus accusantium, ipsam repellat amet nihil ab illum facere, sit provident reiciendis laborum. Officiis fugit, dolore eaque ullam aperiam culpa eos dignissimos veritatis, alias harum possimus.
					.blog-meta
						.blog-meta-item
							i.fa.fa-eye.blog-meta-icon
							span.blog-meta-number.text--style.text--light 542
						.blog-meta-item
							i.fa.fa-comment-dots.blog-meta-icon
							span.blog-meta-number.text--style.text--light 17
