section.brand
  .container
    .brand-list
      .brand-item
        a.brand-item-link(href='#')
          img.brand-item-logo(src='../images/img-logo-1.png')
      .brand-item
        a.brand-item-link(href='#')
          img.brand-item-logo(src='../images/img-logo-2.png')
      .brand-item
        a.brand-item-link(href='#')
          img.brand-item-logo(src='../images/img-logo-3.png')
      .brand-item
        a.brand-item-link(href='#')
          img.brand-item-logo(src='../images/img-logo-4.png')
      .brand-item
        a.brand-item-link(href='#')
          img.brand-item-logo(src='../images/img-logo-5.png')
      .brand-item
        a.brand-item-link(href='#')
          img.brand-item-logo(src='../images/img-logo-6.png')