section.devices
	.container
		+blockBox('For all devices', 'Unique design')
		.devices-image
			img.devices-image-ipad(src='../images/img-devices-3.png')
			img.devices-image-iphone(src='../images/img-devices-4.png')