footer.footer
  .container
    .footer-inner
      .footer-contact
        a(href="index.html").footer-contact-brand MoGo
        p.footer-contact-description.text--style Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur voluptatum ut quaerat qui vel. Voluptates saepe assumenda cupiditate totam nihil, doloribus fugit aliquam laboriosam aspernatur dicta sit? Aliquam, labore amet.
        p.footer-contact-followers <strong>15k</strong> followers
        .footer-contact-social
          span.text--style.text--light Follow us:
          .footer-contact-list
            a(href='javascript:void(0)').footer-contact-link
              i.fab.fa-facebook-f
            a(href='javascript:void(0)').footer-contact-link
              i.fab.fa-twitter
            a(href='javascript:void(0)').footer-contact-link
              i.fab.fa-instagram
            a(href='javascript:void(0)').footer-contact-link
              i.fab.fa-pinterest-p
            a(href='javascript:void(0)').footer-contact-link
              i.fab.fa-telegram-plane
            a(href='javascript:void(0)').footer-contact-link
              i.fab.fa-youtube
            a(href='javascript:void(0)').footer-contact-link
              i.fab.fa-dribbble
            a(href='javascript:void(0)').footer-contact-link
              i.fab.fa-tumblr
        form.footer-contact-form(action="javascript:void(0)")
          input(type='email' placeholder='Your Email...').footer-contact-input.text--style.text--light
          button.footer-contact-btn Subscribe
      .footer-blog
        h4.footer-heading Blogs
        .footer-blog-list
          .footer-blog-item
            a.footer-blog-link(href='#')
              img.footer-blog-image(src='https://images.unsplash.com/photo-1583206737964-8c12303eb30c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjAyfHxza2F0ZWJvYXJkfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60')
            .footer-blog-content
              a.footer-blog-title(href="#") Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              span.footer-blog-date.text--style.text--light Jan 5, 2016
          .footer-blog-item
            a.footer-blog-link(href='#')
              img.footer-blog-image(src='https://images.unsplash.com/photo-1661773503848-6d7c34d4ecfb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyNHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60')
            .footer-blog-content
              a.footer-blog-title(href="#") Amet magni distinctio nihil ea, ad maiores veniam officiis temporibus quod placeat.
              span.footer-blog-date.text--style.text--light Jan 16, 2016
          .footer-blog-item
            a.footer-blog-link(href='#')
              img.footer-blog-image(src='https://images.unsplash.com/photo-1547198152-dde291a08c45?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTA1fHxza2F0ZWJvYXJkfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60')
            .footer-blog-content
              a.footer-blog-title(href="#") Quaerat laboriosam earum in sit accusantium debitis.
              span.footer-blog-date.text--style.text--light Jan 9, 2016
      .footer-instagram
        h4.footer-heading Instagram
        .footer-instagram-list
          .footer-instagram-item
            img(src="https://images.unsplash.com/photo-1559054072-34d9969e75ca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODh8fHNrYXRlYm9hcmR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60", alt="").footer-instagram-image
          .footer-instagram-item
            img(src="https://images.unsplash.com/photo-1566796195789-d5a59f97235b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8c2thdGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60", alt="").footer-instagram-image
          .footer-instagram-item
            img(src="https://images.unsplash.com/photo-1520045892732-304bc3ac5d8e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHNrYXRlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60", alt="").footer-instagram-image
          .footer-instagram-item
            img(src="https://images.unsplash.com/photo-1612375488077-ae09a725baaf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8c2thdGVyJTIwZ2lybHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60", alt="").footer-instagram-image
          .footer-instagram-item
            img(src="https://images.unsplash.com/photo-1580758472566-a154bf106afc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzJ8fHNrYXRlYm9hcmR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60", alt="").footer-instagram-image
          .footer-instagram-item
            img(src="https://images.unsplash.com/photo-1622502860158-cf8832e7f784?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTF8fHNrYXRlciUyMGdpcmx8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60", alt="").footer-instagram-image
          .footer-instagram-item
            img(src="https://images.unsplash.com/photo-1547447546-526c3f7462aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTF8fHNrYXRlYm9hcmR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60", alt="").footer-instagram-image
          .footer-instagram-item
            img(src="https://images.unsplash.com/photo-1570657853296-2ac45dfd3db0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fHNrYXRlYm9hcmR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60", alt="").footer-instagram-image
          .footer-instagram-item
            img(src="https://images.unsplash.com/photo-1630342622412-3f30b058b09a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzJ8fHNrYXRlciUyMGdpcmx8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60", alt="").footer-instagram-image
        a(href="#").footer-instagram-more.text--sltye.text--light View more photos
    .footer-copyright &copy; 2016 MoGo free PSD template by <a href='#'>Laaqiq</a> 
