section.people
  .container
    +blockBox('Happy clients', 'what people say')
    ul.people-list
      li.people-item
        img.people-image(src='../images/client-01.jpg')
        .people-content
          h3.people-content-name Matthew Dix
          span.people-content-position.text--style.text--light Graphic Design
          p.people-content-description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis, laborum cumque tempore ullam libero nemo, quaerat reiciendis qui molestias veniam quis unde, temporibus nesciunt sit. Laboriosam earum nobis quis corrupti.
      li.people-item
        img.people-image(src='https://images.unsplash.com/photo-1484588168347-9d835bb09939?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzJ8fHdvbWFufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60')
        .people-content
          h3.people-content-name Matthew Dix
          span.people-content-position.text--style.text--light Graphic Design
          p.people-content-description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis, laborum cumque tempore ullam libero nemo, quaerat reiciendis qui molestias veniam quis unde, temporibus nesciunt sit. Laboriosam earum nobis quis corrupti.

      li.people-item
        img.people-image(src='../images/client-03.jpg')
        .people-content
          h3.people-content-name Matthew Dix
          span.people-content-position.text--style.text--light Graphic Design
          p.people-content-description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis, laborum cumque tempore ullam libero nemo, quaerat reiciendis qui molestias veniam quis unde, temporibus nesciunt sit. Laboriosam earum nobis quis corrupti.

      li.people-item
        img.people-image(src='../images/client-04.jpg')
        .people-content
          h3.people-content-name Matthew Dix
          span.people-content-position.text--style.text--light Graphic Design
          p.people-content-description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis, laborum cumque tempore ullam libero nemo, quaerat reiciendis qui molestias veniam quis unde, temporibus nesciunt sit. Laboriosam earum nobis quis corrupti.