section.quote
  .container
    .quote-container
      //- i.quote-arrow-left.fal.fa-angle-left
      .quote-main
        .quote-image
          img(src='../images/img-quote.png')
        .quote-content
          p.quote-content-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis autem odio temporibus eaque reiciendis voluptas sint sit! Doloribus nesciunt voluptatibus at, numquam distinctio laborum quis et ullam libero quaerat nemo.
          span.quote-content-author Jon doe
      .quote-main
        .quote-image
          img(src='../images/img-quote.png')
        .quote-content
          p.quote-content-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis autem odio temporibus eaque reiciendis voluptas sint sit! Doloribus nesciunt voluptatibus at, numquam distinctio laborum quis et ullam libero quaerat nemo.
          span.quote-content-author Jon doe
      .quote-main
        .quote-image
          img(src='../images/img-quote.png')
        .quote-content
          p.quote-content-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis autem odio temporibus eaque reiciendis voluptas sint sit! Doloribus nesciunt voluptatibus at, numquam distinctio laborum quis et ullam libero quaerat nemo.
          span.quote-content-author Jon doe
      //- i.quote-arrow-right.fal.fa-angle-right

