section.review
  .container
    .review-container
      //- i.review-arrow.review-arrow-left.fal.fa-angle-left
      .review-main
        img.review-image(src='../images/img-review-avatar1.png')
        .review-content
          p.review-content-text.text--style.text--light Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores fugiat harum alias et cumque consequuntur provident quae, eum ipsum, similique repellendus quidem id rerum eos totam error magnam facere quam!
          span.review-content-author Joshua earle
      .review-main
        img.review-image(src='../images/img-review-avatar1.png')
        .review-content
          p.review-content-text.text--style.text--light Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores fugiat harum alias et cumque consequuntur provident quae, eum ipsum, similique repellendus quidem id rerum eos totam error magnam facere quam!
          span.review-content-author Joshua earle
      .review-main
        img.review-image(src='../images/img-review-avatar1.png')
        .review-content
          p.review-content-text.text--style.text--light Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores fugiat harum alias et cumque consequuntur provident quae, eum ipsum, similique repellendus quidem id rerum eos totam error magnam facere quam!
          span.review-content-author Joshua earle
      //- i.review-arrow.review-arrow-right.fal.fa-angle-right