.review {
  background-color: $gray-color;
  padding: 10rem 0 13rem;
  &-container {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
  }
  &-main {
    display: flex;
    padding: 0 6rem;
    align-items: center;
  }
  &-image {
    width: 21rem;
    height: 21rem;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
    object-position: top center;
    flex-shrink: 0;
    margin-right: 3rem;
  }
  &-content {
    &-text {
      font-size: 24px;
      color: $text-color;
      margin-bottom: 2rem;
      line-height: 1.4;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      text-overflow: ellipsis;
      &::before {
        content: open-quote;
      }
      &::after {
        content: close-quote;
      }
    }
    &-author {
      font-family: $third-font;
      font-size: 24px;
      text-transform: capitalize;
      padding: 7rem;
      position: relative;
      &::before {
        content: '';
        height: 3px;
        width: 6rem;
        background-color: $primary-color;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  &-arrow {
    color: $gray-dark;
    font-size: 30px;
    padding: 1rem 2.5rem;
    cursor: pointer;
  }

  .slick-initialized .slick-slide {
    display: flex;
  }
  .slick-arrow {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 30px;
    color: $gray-dark;
    cursor: pointer;
    padding: 1rem 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .slick-prev {
    left: 0;
    z-index: 99;
  }
  .slick-next {
    right: 0;
  }
}

@media screen and (max-width: 1023px) {
  .review {
    &-arrow-left,
    &-arrow-right {
      display: none;
    }
    &-main {
      padding: 0 5rem;
    }
    &-image {
      width: 12rem;
      height: 12rem;
      margin-right: 3rem;
    }
    &-content-text {
      font-size: 20px;
      margin-bottom: 1.5rem;
    }
    &-content-author {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 767px) {
  .review {
    padding: 4rem 0;
    &-main {
      padding: 0 1rem;
      flex-direction: column;
    }
    &-image {
      margin-right: 0rem;
      margin-bottom: 2rem;
    }
    &-content-author {
      font-size: 16px;
      padding-left: 3rem;
      &::before {
        height: 2px;
        width: 2.5rem;
      }
    }
    &-content-text {
      font-size: 16px;
      text-align: justify;
      margin-bottom: 1rem;
      display: block;
    }
  }
}
