.services {
  padding: 11rem 0 12rem;
  &-list {
    display: flex;
    justify-content: space-between;
    margin-top: 6.5rem;
    &:last-child {
      border-top: 1px solid #e5e5e5;
      margin-top: 5rem;
      padding-top: 5rem;
    }
  }
  &-item {
    display: flex;
    align-items: flex-start;
    width: calc(100% / 3 - 5rem / 3);
    &-icon {
      margin: 0 2.5rem;
    }
    &-info {
      width: calc(100% - 8.2rem);
    }
    &-title {
      text-transform: uppercase;
      margin-bottom: 1.5rem;
    }
    &-description {
      color: $text-color;
      line-height: 24px;
    }
  }
}

@media screen and (max-width: 1023px) {
  .services {
    padding: 5rem 0 5rem;
    &-list {
      display: block;
      &:last-child {
        border-top: none;
        margin-top: 0;
        padding-top: 0;
      }
    }
    &-item {
      width: 100%;
      margin-bottom: 2.5rem;
      align-items: center;
      &-title {
        margin-bottom: 0.5rem;
      }
    }
  }
}

@media screen and (max-width: 424px) {
  .services {
    &-list {
      margin-top: 0;
    }
    &-item {
      &-icon {
        margin: 0 1rem 0 0;
      }
      &-info {
        width: 100%;
      }
      &-title {
        font-size: 12px;
      }
      &-description {
        font-size: 12px;
      }
    }
  }
}
